@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background: url('images/domenico-loia-EhTcC9sYXsw-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: auto;
  height: auto;
}

body:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.logo {
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: -1;
}

.logo:hover {
  text-decoration: none;
  color: white;
}

.home {
  float: right;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.home:hover {
  text-decoration: none;
  color: white;
}

.about {
  float: right;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.about:hover {
  text-decoration: none;
  color: white;
}

.portfolio {
  float: right;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.portfolio:hover {
  text-decoration: none;
  color: white;
}

.services {
  float: right;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.services:hover {
  text-decoration: none;
  color: white;
}

.prices {
  float: right;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.prices:hover {
  text-decoration: none;
  color: white;
}

.team {
  float: right;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.team:hover {
  text-decoration: none;
  color: white;
}

.blog {
  float: right;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.blog:hover {
  text-decoration: none;
  color: white;
}

.contact {
  float: right;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.contact:hover {
  text-decoration: none;
  color: white;
}
